[Unit]
Description=Shipping Service

[Service]
User=roboshop
// highlight-start
Environment=CART_ENDPOINT={{ CART_HOST }}.spdevhops.shop:8080
Environment=DB_HOST={{ MYSQL_HOST }}.spdevhops.shop
// highlight-end
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target